* {
  margin: 0;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.IdCard {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid grey;
  gap: 10px;
  margin-bottom: 5px;
}

.BoxColor {
  width: 200px;
  height: 50px;
}

.CreditCard {
  border-radius: 10px;
  width: 500px;
}

.CreditCardLogo {
  text-align: right;
}

.CreditCardLogo img {
  width: 100px;
}

.CreditCardNumber {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
