* {
  margin: 0;
  padding: 5px 10px;
}

h2 {
  margin-top: 30px;
}

.IdCard {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid grey;
  gap: 10px;
  margin-bottom: 5px;
}

.BoxColor {
  width: 200px;
  height: 50px;
}

.CreditCard {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

.CreditCardLogo {
  text-align: right;
}

.CreditCardLogo img,
.photo img {
  width: 100px;
}

.CreditCardNumber {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.DriverCard {
  background-color: royalblue;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}

.LikeButton button {
  border: 1px solid grey;
  border-radius: 5px;
}

.oneBox {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
}

.NumbersTable {
  display: flex;
  flex-wrap: wrap;
}

.singleColor {
  display: flex;
  flex-direction: row;
}
.colorBox {
  width: 20px;
  height: 20px;
  border: 1px grey solid;
}
